{
  "presets": [
    "@babel/env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "effector-logger/babel-plugin", { "inspector": true }
  ]
}
